<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>旅游网</title>
    <link href="css/lvyou.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div id="top-wen">
        <div id="top-wen-1">
            旅游网
        </div>
    </div>
    <div id="top-tu">
        <img src="img/5.jpg">
    </div>
</header>
<nav>
    <div class="nav">
        <a class="nav-1" href="http://www.baidu.com" _target="_blank">环球之旅</a>|
        <a class="nav-1">精彩路线</a>|
        <a class="nav-1">出游攻略</a>|
        <a class="nav-1">文化风情</a>|
        <a class="nav-1">镜头故事</a>|
        <a class="nav-1">旅行图库</a>|
        <a class="nav-1">自由自载</a>|
    </div>
</nav>
<main>
    <div class="zhong">
        <div class="zhong-1">
            <div class="zhong-1-top">
                <div class="zhong-1-top-wen">
                    shopping go
                </div>
            </div>
            <div class="zhong-1-xia">
                <div class="zhong-1-xia-tu">
                    <div class="zhong-1-xia-tu-1">
                        <img src="img/c4.jpg" />
                    </div>
                    <div class="zhong-1-xia-tu-2">
                        <img src="img/c3.jpg">
                    </div>
                </div>
                <div class="zhong-1-xia-wen">
                    <div class="zhong-1-xia-wen-1">
                        <div class="zhong-1-xia-wen-1-wen">品牌直销购物中心</div>
                        <div class="zhong-1-xia-wen-1-wen">东京1日游购体验</div>
                        <div class="zhong-1-xia-wen-1-wen">冬季“购”好玩</div>
                        <div class="zhong-1-xia-wen-1-wen">韩国冰雪购物之旅</div>
                        <div class="zhong-1-xia-wen-1-wen">探寻维多利亚购物之路</div>
                        <div class="zhong-1-xia-wen-1-wen">让“气质”购物与时俱进</div>
                    </div>
                    <div class="zhong-1-xia-wen-2">
                        <div class="zhong-1-xia-wen-1-wen">毛里求斯海明威心中的天堂</div>
                        <div class="zhong-1-xia-wen-1-wen">香港扫街乐趣无穷</div>
                        <div class="zhong-1-xia-wen-1-wen">俄勒冈州没有消费税的天堂</div>
                        <div class="zhong-1-xia-wen-1-wen">亚运广州购物行走创意小店</div>
                        <div class="zhong-1-xia-wen-1-wen">巴黎购物心经</div>
                        <div class="zhong-1-xia-wen-1-wen">芝加哥购物攻略</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zhong-2">
            <div class="zhong-2-top">
                <div class="zhong-2-top-wen">
                    自由自载
                </div>
                <div class="zhong-2-xia">
                    <div class="zhong-2-xia-tu">
                        <div class="zhong-2-xia-tu-1">
                            <img src="img/c1.jpg" />
                        </div>
                        <div class="zhong-2-xia-tu-2">
                            <img src="img/c2.jpg">
                        </div>
                    </div>
                    <div class="zhong-1-xia-wen">
                        <div class="zhong-1-xia-wen-1">
                            <div class="zhong-1-xia-wen-1-wen">秋末韩国，正是赏枫好时节</div>
                            <div class="zhong-1-xia-wen-1-wen">奥兰多童话编织的梦幻城市</div>
                            <div class="zhong-1-xia-wen-1-wen">游走千塔之城</div>
                            <div class="zhong-1-xia-wen-1-wen">沪上最美红枫地图出炉</div>
                            <div class="zhong-1-xia-wen-1-wen">佛罗伦萨览胜1日游</div>
                            <div class="zhong-1-xia-wen-1-wen">世外桃源寻秋冬</div>
                        </div>
                        <div class="zhong-1-xia-wen-2">
                            <div class="zhong-1-xia-wen-1-wen">阿坝神座四日游</div>
                            <div class="zhong-1-xia-wen-1-wen">探寻卡卡杜国家公园</div>
                            <div class="zhong-1-xia-wen-1-wen">漫步达尔文市</div>
                            <div class="zhong-1-xia-wen-1-wen">以色列死海1日游</div>
                            <div class="zhong-1-xia-wen-1-wen">迷醉日本九州 观火山泡温泉</div>
                            <div class="zhong-1-xia-wen-1-wen">第一条新闻标题</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zhong-3">
            <div class="zhong-3-top">
                专题推荐
            </div>
            <div >
                <img  class="zhong-3-tu-1"src="img/8.jpg" />
            </div>
            <div class="zhong-3-wen">
                <div class="zhong-3-wen-1">广州曾经的市井古玩街</div>
                <div class="zhong-3-wen-1">小资成都吃喝行走活力人生</div>
                <div class="zhong-3-wen-1">街头艺术功底深</div>
                <div class="zhong-3-wen-1">美国名牌折扣中心</div>
                <div class="zhong-3-wen-1">新疆胡杨林</div>
                <div class="zhong-3-wen-1">喀纳斯中国最后一片净土</div>
            </div>
            <div class="zhong-3-tu-2">
                <img src="img/7.jpg" />
            </div>
        </div>
    </div>

</main>
<div class="xia">
    <div class="xia-top">
        图片欣赏
    </div>
    <div class="xia-xia">
        <div class="xia-tu">
            <a class="xia-tu-1">
                <img src="img/a1.jpg" />
            </a>
            <a class="xia-tu-1">
                <img src="img/a2.jpg" />
            </a>
            <a class="xia-tu-1">
                <img src="img/a3.jpg" />
            </a>
            <a class="xia-tu-1">
                <img src="img/a4.jpg"/>
            </a>
            <a class="xia-tu-1">
                <img src="img/a5.jpg" />
            </a>
        </div>
    </div>
    <div class="xia-wen">
			<span class="xia-wen-1">
				地中海的浪漫明珠突尼斯
			</span>
        <span class="xia-wen-1">
				巴黎美景夜晚更醉人
			</span>
        <span class="xia-wen-1">
				世界十大最美丽湖泊
			</span>
        <span class="xia-wen-1">
				瑞女孩环游世界大片接力赛
			</span>
        <span class="xia-wen-1">
				西沙群岛 隔世秘境等你探索
            </span>
    </div>
</div>
<footer></footer>

</body>
</html>
